#footer {}

.f-inner {
    display: flex;
    padding: 10rem 0 15rem;
    justify-content: space-between;
    align-items: flex-end;
}

/*  */
.moveTxt {
    width: 32%;
    display: flex;
    flex-wrap: wrap;
    font-family: 'neo-Hv';
    font-size: 80px;
    line-height: 1.4;
    letter-spacing: -2px;
    color: #000;
    text-transform: uppercase;

}

.moveTxt span {
    position: relative;
    transform: translateY(50px);
    opacity: 0;
}

/*  */
.typedWrap {
    width: 40%;
}

.introduce {
    font-family: 'neo-Rg';
    font-size: 18px;
    line-height: 1.8;
}