#header {
    position: relative;
    width: 100%;
    padding: 3rem 7rem;
    box-sizing: border-box;

    /* 수평정렬 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ccc;
}

#header.on {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.logo {}

.logo a {}

#gnb {
    display: flex;
    gap: 8rem;
}

#gnb li {}

#gnb li a {
    font-size: 20px;
    font-family: 'neo-Rg';
}