/* sectiomWrap */
.sectionWrap{}
.sectionWrap>section{display: flex; flex-direction: column;}

/* sec01 */
.sec01{margin-top: 300px;}

.line{margin-top: 10px;}
.line>span{}
.tag{font-family: "Oswald", serif; font-weight: 700;
    font-size: 70px; display: inline-flex; margin-left: 56px; }

.yellow{width: 465px; background-color: #FFD800;}
.red{width: 0; border-bottom: 15px solid #FF4222; line-height: 45px;}
.green{width: 0; background-color: #1DAA47;}
.pink{width: 0; background-color: #DE43B9;}

/* sec02 */
.sec02{margin-top: 264px;}

/* 공통 */
.sec_tit{   
    position: absolute; left: 0; 
    font-family: "Oswald", serif; font-weight: 700;
    font-size: 38px;}
.sec2_tit{font-family: "Oswald", serif; font-weight: 600;
    font-size: 32px;
    border-bottom: 1px solid #000;}


/*                      folder_B */
.folder{margin: 0 auto;
background: url(../img/folder.png)no-repeat center/contain;
width: 1100px; height: 570px;
position: relative;}
.folder>h2{padding: 10px 40px;}

/*                       folder_F */
article.folder_in{margin: 0 auto;
    position:relative; top: -450px; left: 183px;
    background: url(../img/folder_inner.png)no-repeat center/contain;
    width: 1000px;height: 572px;
    z-index: 1;
}
.folder_in>h2{padding: 0 90px;}

/* MeBox */
.MeBox{position: absolute;top: 100px; transform: translateX(-50%) ; left: 50%;}
.MeBox>dl{display: flex; justify-content: center;  gap: 100px; width: 100%;}

/* dt (proflie)*/
dl .proflie{display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: left;
background-color: #fff;
padding: 43px 15px 15px 15px; box-sizing: border-box;
border: 1px solid #000;}
.proflie>.name{display: flex; gap: 19px;}
.name>h3{}
.name>span{font-family: "Oswald", serif; font-weight: 400;
    font-size: 17px;}
.proflie>img{}

.deta{display: flex; flex-direction: column; width: 90%; margin-top: 15px;}
.deta>li>span{font-family: "Oswald", serif; font-weight: 400;
    font-size: 13px;}

/* dl */
dl.skill{margin-top: 50px; max-width: 568px;}

/* dt (Introduce)*/
dt.Introduce{}
.Introduce>p{background: #fff; width: 568px; padding: 46px 0 32px 10px;
border-top: 1px solid #000;}
.Introduce>p>strong{}

/* dd (UseTool)*/
dd.UseTool{margin-top: 40px; }
.UseTool>ul{display: flex; gap: 30px; margin-top: 10px;}
.UseTool>ul>li{}
.UseTool>ul>li>img{}

/* dd(핀) */
dd.pin{position: absolute; top: 30px; right: 60px;}
.pin>img{}


/*                                   folder_BG */
.Bg{width: 100%; height: 836px; background-color: #fff; opacity: .6;
position: absolute; top: 119px;}

/* sec03 */
.sec03{}

.Bg_project>.sec_tit{font-family: "Oswald", serif; font-weight: 700;
    font-size: 71px; padding: 0 90px; display: block;;}
.Bg_project{ background: url(../img/folder_Big.png)no-repeat center/contain; width: 100%;  height: 1700px;
position: relative;
}

.section03Box{
    position: absolute; top: 275px; left: 50%; transform: translateX(-50%);}
.mBox{background: url(../img/project_folder.png)no-repeat center/contain;
width: 1171px; height: 624px; position: relative;
display: flex; align-items: center; justify-content: space-evenly;
}
.mBox>ul{width: 20%; margin-top: 20px;}
.mBox>ul>li{}
.mBox>ul>li>h4{font-family: "Oswald", serif; font-weight: 700;
    font-size: 35px; line-height: 70px;}
.mBox>ul>li>a{font-family: "Oswald", serif; font-weight: 700;
    font-size: 35px;
width: 202px;
margin: 48px 0 63px;
background-color: #8298CA;
border-radius: 50px;
display: flex; justify-content: space-evenly; padding:0 15px; align-items: center;}
.mBox>ul>li>a::after{content: ''; background: url(../img/arrow.png)no-repeat center/contain; width: 38px; height: 38px;
}
.min{flex: 1;}
.min>span{font-family: "Oswald", serif; font-weight: 700;
    font-size: 30px}


.yoajung{ height: 424px; border-radius: 50px; border: 1px solid #000;  overflow: hidden; margin-top: 40px;}
.yoajung>img{object-fit: cover;}

.mBox>img{position: absolute; right: 0; top: 0;}

/* section03Box */
.sb{display: flex; position: absolute; top: 960px; gap: 66px;}
.sbBox{background: url(../img/folder_Small.png)no-repeat center/contain;
    width: 358px; height: 526px;
position: relative;}
.sbBox>img{ border-radius: 20px; border: 1px solid #000;  overflow: hidden;
position: absolute; top: 70px; transform: translateX(-50%); left: 50%;}
.sbTxt{display: flex; position: absolute; right: 0; text-align: center;}
.sbTxt>h5{font-family: "Oswald", serif; font-weight: 400;
    font-size: 20px; width: 120px;}
.sbTxt>span{font-family: "Oswald", serif; font-weight: 600;
    font-size: 20px;width: 140px;}

/* sec04 */ 
.sec04{ margin-top: 300px;}
.sec04>article{}


.sec04Box{ position: absolute; top: 200px; left: 80px; width: 100%; height: 300px; padding-left: 300px;}

.gallerySwiper{}
.gallerySwiper a>img{border-radius: 20px; border: 1px solid #000; overflow: hidden;}

/* 화살표커스텀 */
.arrows{position: absolute; top: -50px; right: 350px; width: 100px; }
.prev::after{content: ''; background: url(../img/arrow_prev.jpg) no-repeat center/contain; width: 15px; height: 30px;}
.next::after{content: ''; background: url(../img/arrow_next.jpg) no-repeat center/contain; width: 15px; height: 30px;}

.G_title{}
.G_title>h5{font-family: "Oswald", serif; font-weight: 600;
    font-size:32px;
margin: 25px 0 5px;}

.toolWrap{width: 100%; display: flex; gap: 18px;}
.tool{ padding: 0 25px; background-color: #fff; border: 1px solid #000; border-radius: 30px; 
    font-family: "Oswald", serif; font-weight: 400;
    font-size: 20px; box-sizing: border-box;
max-width: 150px; text-align: center;}
.no{display: none;}


/* sec05 */
.sec05{position: relative; width: 100%; overflow: hidden;  margin-top: 240px;}
.sec05Box{}

.scrollTxt{
    display: flex; width: 100%; background: url(../img/scrolltxt_L.jpg) no-repeat center/cover;
}


/* footer */
#footer{background-color: #000; padding: 150px 0;}
.f-inner{display: flex; padding: 10rem 0 15rem; justify-content: space-between; align-items: flex-end;}

/*  */
.moveTxt{width: 32%; display: flex; flex-wrap: wrap;
    font-family: "Oswald", serif; font-weight: 900;font-size: 80px; line-height: 1.4; letter-spacing: -2px; color: #fff; text-transform: uppercase;
position: relative;}
.moveTxt span{
    position: relative;
    transform: translateY(100px);
    opacity: 0;}
.moveTxt>span>b{color: #FFD800; }
.fire{position: absolute;  left: 40px; margin-bottom: 50px; opacity: 0;}
.line2{width: 100%; height: 5px; background-color: #fff;}


/*  */
.typedWrap{width: 40%;}
.introduce{ line-height: 1.8; color: #fff;}

.link_btn{background: url(../img/Y_arrow.png)no-repeat center/contain; display: block; padding: 30px  80px 30px 20px; text-align: start; }
.link_btn>span{ font-size: 25px; font-weight: 900;}

