#portfolio {
    position: relative;
    background-color: #eee;
}

#portfolio>div {
    width: 80%;
    margin: 0 auto;
    padding: 8rem 0;
    background-color: #ddd;
    position: relative;

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.tit {
    font-family: 'neo-Hv';
    font-size: 150px;
    line-height: 1;
    letter-spacing: -2px;
}

.date {
    position: absolute;
    top: 45px;
    left: -5%;
    padding: 0 3rem;
    border: 2px solid #000;
    border-radius: 50px;
    font-size: 3.6rem;
    letter-spacing: -0.7px;
    background-color: #fff;
    font-family: 'neo-Hv';

}

.subtxt {
    font-family: 'neo-Eb';
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.5px;
    color: #02040F;
    text-transform: uppercase;
}

/* visual */
.visual {
    height: 72rem;
    background-color: #444;
}

/* sectionWrap */
.sectionWrap {}

.sectionWrap>section {}

/*  */
.sec01 {
    position: relative;
    padding: 10rem 0;
}

.line {
    position: relative;
    margin-bottom: 3rem;
}

.line>span {
    position: relative;
    margin-left: -30px;
}

/* 공통 스타일 */
.tag {
    display: inline-block;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: -1.4px;
    font-family: 'neo-Eb';
    color: #02040F;
    border: 4px solid #02040F;
    border-radius: 60px;
    padding: 1rem 5.4rem;
    background-color: #fff;
}

.black {
    background-color: #02040F;
    color: #fff;
}

/*sec02  */
.sec02 {}

.sec02Box {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.pfbox {
    width: 33.333%;
    height: 60rem;
    background-color: #555;
}

/*  sec03*/
.sec03 {}

.sec03Box {
    height: 100vh;
    padding: 2.2rem 2.6rem;
    box-sizing: border-box;
    background: linear-gradient(45deg, #d53369 0%, #daae51 100%);
}

.sec_tit {
    font-family: 'neo-Hv';
    color: #02040F;
    font-size: 60px;
    line-height: 88px;
    letter-spacing: -1.5px;
    text-transform: uppercase;
}

/* sec04 */
.sec04 {}

.sec04Box {
    padding: 15rem 0;
    background-color: #777;
}

.titWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #444;
}



/* 라이트 갤러리 */
.lt-gallery {
    margin-top: 2rem;
}

.galleryBox {
    display: flex;
    gap: 2rem;
}

.galleryBox>a {
    position: relative;
}

.toolWrap {
    display: flex;
    gap: 1rem;
    position: absolute;
    z-index: 1;
    right: 2rem;
    bottom: 2rem
}

.tool {
    display: inline-block;
    color: #fff;
    background-color: #02040F;
    padding: 4px 16px;
    border-radius: 50px;
    transform: translateY(0);
    transition: all 0.5s;
    text-transform: capitalize;

}

.galleryBox a:hover .tool {
    transform: translateY(-10px);
}

.hide {
    display: none;
}


/* sec05 */
.sec05 {}

.sec05Box {
    width: 100%;
    position: relative;
    background-color: #02040F;
    /* 스크롤 텍스트가 넘치지 않도록 설정 */
    overflow: hidden;
}

.scrollTxt {
    /* 텍스트가 한줄로 나열되도록 설정 */
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    z-index: 10;
}

.scrollTxt>p {
    color: rgba(255, 255, 255, .85);
    font-size: 300px;
    letter-spacing: -0.5px;
    line-height: 330px;
    text-transform: uppercase;
    font-family: 'neo-Hv';

    /* 텍스트가 한줄로 나열되도록 설정 */

    white-space: nowrap;
    display: inline-block;

}

.aniBox {
    width: 100%;
    height: 80vh;
    position: relative;
    /*  */
    background: #fff url(../img/aaa.png) no-repeat center bottom/cover;
}

.badge {
    display: inline-block;
    font-family: 'neo-Hv';
    text-transform: uppercase;
    font-size: 4rem;
    padding: 4px 22px;
    border-radius: 50px;
    /* animation */
    position: absolute;
    bottom: 120%;


}

.b1 {
    background: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
    left: 27rem;


}

.b1.active {
    animation: badgeact1 .8s .8s linear both;
}

.b2 {

    left: 80rem;
    background: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);

}

.b2.active {
    animation: badgeact4 0.9s 0.7s linear both;
}

.b3 {
    left: 70rem;

}

.b3 img {
    width: 10rem;
}

.b3.active {
    animation: badgeact3 0.7s 0.9s linear both;
}

/* f-nav */

.f-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
    background-color: #666;
}

.f-nav>a {
    font-family: 'neo-Hv';
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.5px;
    color: #02040F;
}

/*  */
@keyframes badgeact1 {
    0% {
        opacity: 0;
        bottom: 120%;
        transform-origin: 93% 100%;
        transform: rotate(90deg)
    }

    30% {
        opacity: 1;
    }

    60% {

        bottom: 0%;

        transform-origin: 93% 100%;
        transform: rotate(60deg)
    }

    80% {
        bottom: 7%;

        transform-origin: 93% 100%;
        transform: rotate(90deg)
    }

    100% {
        bottom: 0%;

        transform-origin: 93% 100%;
        transform: rotate(47deg)
    }
}


@keyframes badgeact2 {
    0% {
        bottom: 120%;
        transform-origin: 83% 100%;
        transform: rotate(90deg);
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    60% {
        bottom: 2em;
        transform-origin: 83% 100%;
        transform: rotate(30deg)
    }

    80% {
        bottom: 3em;
        transform-origin: 83% 100%;
        transform: rotate(14deg)
    }

    100% {
        bottom: 2em;
        transform-origin: 83% 100%;
        transform: rotate(23deg)
    }
}


@keyframes badgeact3 {
    0% {
        opacity: 0;
        bottom: 120%;
        transform-origin: 13% 100%;

        transform: rotate(-60deg)
    }

    30% {
        opacity: 1;
    }


    60% {
        bottom: 2em;
        transform-origin: 13% 100%;
        transform: rotate(-30deg)
    }

    80% {
        bottom: 3em;
        transform-origin: 13% 100%;
        transform: rotate(-14deg)
    }

    100% {
        bottom: 2em;
        transform-origin: 13% 100%;
        transform: rotate(-12deg)
    }
}


@keyframes badgeact4 {
    0% {
        bottom: 120%;
        transform-origin: -12% 100%;
        transform: rotate(60deg);
        opacity: 0;
    }


    30% {
        opacity: 1;
    }

    60% {
        bottom: 4em;
        transform-origin: -12% 100%;
        transform: rotate(18deg)
    }

    80% {
        bottom: 5em;
        transform-origin: -12% 100%;
        transform: rotate(14deg)
    }

    100% {
        bottom: 4em;
        transform-origin: -12% 100%;
        transform: rotate(16deg)
    }
}