@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Oswald:wght@200..700&display=swap');

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}


*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans KR", serif;
  font-size: 16px;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
span,
strong,
em,
div {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  border: 0;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

textarea {
  resize: none;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

iframe {
  border: 0;
}

/* Prevent large and small font scaling in all browsers */
small {
  font-size: 80%;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
}

:-ms-input-placeholder {
  color: inherit;
}

::placeholder {
  color: inherit;
}

/* Remove focus outline in non-keyboard interactions */
*:focus:not(:focus-visible) {
  outline: 0;
}