/* mainselide */

#fullpage{position: relative;}
.main{left: 210px; }
.section{overflow: hidden;}

.mainslide{width: 100%; height: 80%;  border-radius: 400px 0 0 0; position: absolute;bottom: 0; right: 0;}
.main1{background: url(../img/main2.jpg) no-repeat center/cover;}
.main2{background: url(../img/main2.jpg) no-repeat center/cover;}
.main3{background: url(../img/main3.jpg) no-repeat center/cover;}

.swiper-pagination{width: 100%; height: 20px; opacity: 0;}

.sec1slide{}
/* sec2slide */

.inner{position: relative;}
.sec2slide{position: absolute; left: 0; width: 100%; bottom: 0; }

/* arrowslide */

.arrowWrap{width: calc(100% + 150px); height: 40px; z-index: 100; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}

/* pagenation */
.swiper-button-next::after,.swiper-button-prev::after{width: 50px; height: 50px;
display: block;}
.swiper-button-next::after{background: url(../img/arrow\ Icon-next.svg) no-repeat center/cover; display: block;}
.swiper-button-prev::after{background: url(../img/arrow\ Icon-prev.svg) no-repeat center/cover; display: block;}
.swiper-button-next:after,.swiper-button-prev:after{content: '';}

/* nav 커스텀 */

#fp-nav ul li{padding: 5px; }
.fp-tooltip{color: #3E3E3E}
#fp-nav ul li a.active span:after{
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 5px;
    background-color: #EBB9C8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;}

    .fp-tooltip{color: #3E3E3E !important; margin-left: 10px;}




/* -------------------------------------------------------------------------------------------------------------mob */

@media all and (max-width:760px){

    /* mainselide */

.main{left: 22px; position: relative;}

.mainslide{width: 100%; height: 80%;  border-radius: 80px 0 0 0; position: absolute;bottom: 30px; right: 0;}
.main1{background: url(../img/mo-main1.jpg) no-repeat center/cover;}
.main2{background: url(../img/mo-main2.jpg) no-repeat center/cover;}



/* pagenation */
.pg{width: 100%; height: 20px; position: absolute; bottom: 0px;}
.swiper-pagination{ opacity: 1; z-index: 30; text-align: start;}
.swiper-pagination-bullet{ width: 10px; height: 10px; border-radius: 10px;}
.swiper-pagination-bullet-active{width: 24px; border-radius: 10px; background-color: #BDD5F9;}
/* sec2slide */

.sec2{position: relative;}
.inner{position: absolute;}
.sec2slide{position: absolute; right:  -30%; width: 100%; bottom: 0; margin-bottom: 50px;}

/* arrowslide */

.arrowWrap{display: none;}

/* nav 커스텀 */

#fp-nav{display: none;}


}