@font-face {
    font-family: 'neo-Lt';
    src: url('./NanumSquareNeoTTF-aLt.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'neo-Rg';
    src: url('./NanumSquareNeoTTF-bRg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'neo-Bd';
    src: url('./NanumSquareNeoTTF-cBd.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'neo-Eb';
    src: url('./NanumSquareNeoTTF-dEb.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'neo-Hv';
    src: url('./NanumSquareNeoTTF-eHv.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
