.header{background-color: pink; }

.header .inner{width: 1400px; height: 135px; background-color: #ccc; position: relative; 
display: flex; justify-content: space-between; margin: 0 auto;
align-items: center; padding-top: 40px;
box-sizing: border-box;}
/* 패딩값을로 눌러주고 박스사이징으로 높이는 커지지 말아라 얼라인은 센터로 맞춰줘야함 */

.logo{}
.logo>a{}
.logo>a>img{}

nav.gnb{}
.gnb>ul{display: flex; gap: 2px;}
.gnb>ul>li{position: relative;}
/* depth2(하위메뉴)의 부모역할 */
.gnb>ul>li>a{
    display: block;
    font-family: 'neo-Bd'; font-size: 21px; line-height: 95px; letter-spacing: -0.35px; color: #333;
    padding: 0 75px; background-color: lightcyan;
    position: relative;}
    
    /* 하위메뉴추가 */
    .gnb>ul>li>ul.depth2{position: absolute;left: 0; width: 100%; z-index: 10;
    
    /* 요소숨김처리 display:none//block 사이에서 에니메이션 적용되지않는다*/
    min-height: 0;
    visibility: hidden;
    opacity: 0;

    /* 에니메이션 필수 */
    transition: all .5s;
    }

    /* hover */
    .gnb>ul>li:hover>ul.depth2{
        min-height: 200px;
        visibility: visible;
        opacity: 1;
    }

    .gnb>ul>li>a::after{content: ''; display: block;
        /* none에서 block으로 갈때 에니메이션이 안되는것, a태그의 블록은 속성부여한것 */
        width: 0; height: 5px; background-color: #00a040; 
        position: absolute; bottom: 0;
        /* abs요소중앙정렬하기 */
        left: 50%; 
        transform: translateX(-50%);
    
        transition: all .5s;}

     .gnb>ul>li:hover>a::after{
        /* width: 80px; 이 아닌 글자크기만큼 크기값이 나타나려면 
        a의 100%에서 글자패딩을 더한값 75+75=150px을 빼준다*/
        width: calc(100% - 150px);
    }

    ul.depth2>li{margin-bottom: 4px;}
    ul.depth2>li>a{font-size: 15px; line-height: 32px; color: #666; display: block; text-align: center; padding: 4px 0; background-color: aliceblue;}


.hdBtns{display: flex; gap: 13px;}
.hdBtns>a{display: flex; width: 46px; height: 46px; border: 2px solid #ddd; border-radius: 30px; justify-content: center;align-items: center;}
/* a태그에 속성을 flex로 */
.hdBtns>img{}

ul.hdMenu{position: absolute;top: 0; right: 0; display: flex;
padding: 0 15px; border-radius: 0 0 20px 20px;background-color: green;}
ul.hdMenu>li{}
ul.hdMenu>li>a{
 font-family: 'neo-Bd'; font-size: 14px; line-height: 40px; letter-spacing: -0.5px; color: #fff;
display: block; padding: 0 14px;position: relative;}

ul.hdMenu>li>a::after{
    content: '|';
    position: absolute; right: 0;
    opacity:1;
    font-size: 12px;}
ul.hdMenu>li:last-child>a::after{content: "";}

/* nav,ul 앞에적어서 어떤테그의 class인지 알수있게 */

/* 모바일 버튼추가 moBtn */
.moBtn{display: none;}

/* 모바일 반응형 미디어쿼리
주의사항:선택자 동일하게 사용하기 */
@media all  and (max-width:750px){
    
.header .inner{width: 100%; height: 50px; padding-top: 0; padding: 0 10px;}

.logo img{width: 87px; height: auto;}

nav.gnb{display: none;}
.hdBtns{display: none}
ul.hdMenu{display: none;}
.moBtn{display: block; margin-top: 8px;}
}/*mob*/

