#mainWrap{}

/* common */
.inner{width: 1400px; margin: 0 auto; position: relative;}

.title{position: relative;}
.title>span{font-family: 'neo-Hv'; font-size: 24px; line-height: 30px; letter-spacing: -0.6px; color: #00a040;}
.title>h3{font-family: 'neo-Eb'; font-size: 60px; line-height: 70px; letter-spacing: -0.5px; color: #222;}
.title>h3>strong{color: #11A14A;}
.title>p{font-family: 'neo-Rg'; font-size: 22px; line-height: 36px; letter-spacing: -0.5px; color: #333;}

/* mainSec01 */
.mainSec01{position: relative; padding: 100px 0;}
/* 위아래로 100px씩 떨어져있음 */
.mainSec01 dl{display: flex;}

/* 
1.추후에 반응형 calc() 함수로 교체(완료)
1400/2=700 [dt는 절반값의 -50px(650px), dd는 +50px(700px)]
2. flex-fiow:row wrap 추가  */
.mainSec01 dl>dt{width: calc(50% - 50px); }
.mainSec01 dl>dd{width: calc(50% + 50px); position: relative;}
/* 자식한테 크기값 지정해주고 부모에게 flex부여하면 나란히 수평정렬 */

/* dt */
.title{}    
.mainSec01 .title span{display: block; margin-bottom: 50px;}
.mainSec01 .title h3{}
.mainSec01 .title img{margin: 50px 0 25px;}

/* dd */
img.sec01_img{margin-left: 20px;}
img.sec01_btn{position: absolute; left: 0; bottom: 90px; width: 150px; height: auto;}
/* 겹쳐질때: position-absolute 나 fixed방식으로
이미지 크기 줄일때 width값 정하고 height값 auto*/

/* bg */
.txtBG{position: absolute; left: 120px; bottom: 185px; z-index: -1;}
.txtBG span{font-family: 'neo-Hv'; font-size: 280px; line-height: 300px; letter-spacing: -0.3px; color: #f8f8f8; }


/* mainSec02 */
.mainSec02 .title{display: flex; gap: 0 53px; flex-wrap: wrap; align-items: flex-end; margin-bottom: 100px;}

/* flex부모의 자식요소를 줄바꿈하려면 wrap적용 */
/* 자식요소가 줄바꿈 되서 gap값 두개가 적용(위아래, 좌우)
 위아래 값은 0으로 좌우로는 53px적용 */
.mainSec02 .title span{display: block; width: 100%; margin-bottom: 40px;}

/* box */
.box{position: relative;}
.box dl{display: flex; gap: 100px; padding: 120px 0; position: relative;}
.box-odd{}
.box-even{}

.box-odd>dt{order: 2;}
.box-odd>dd{order: 1;}
/*짝수박스의 dt와 dd 순서바꿔주기 */

/* 
1.추후에 반응형 calc() 함수로 교체(완료)
dt는 브라우저 50%에서 +80px(780px)
2. flex-fiow:row wrap 추가  */

/* dt */
.box dl dt{width: calc(50% + 80px);}
.thumb{width: 100%; height: 420px; border-radius: 50px 0 50px 0; background: no-repeat center/cover; position: relative;
}
/* 숫자그림이 thumb안에 들어가서 포지션 잡는게 편해보여서 부모부여 */

.bg1{background-image: url(../img/main/main_sec02_img01.jpg);}
.bg2{background-image: url(../img/main/main_sec02_img02.jpg);}
.bg3{background-image: url(../img/main/main_sec02_img03.jpg);}
.bg4{background-image: url(../img/main/main_sec02_img04.jpg);}

.box dl dt img{position: absolute; top:38px;}
/* 공통적으로 위에서 38px내려줌 */
dl.box-odd img{left: -40px;}
dl.box-even img{right: -40px;}
/* 짝: 오른쪽으로 40/ 홀:왼쪽으로 40 띄어줌 (이미지 크기가 80px이라 절반값 밖으로 나옴) */

/* dd */
/* flex의 특징
기본적으로 자식요소가 부모요소의 높이를 채우려고 한다.
자식요소가 부모요소를 100%차지하지 않고 자식의 높이값 만큼만 갖도록 설정해 주어야한다. 
align-iteam: 부모요소의 높이값으로 부모기준 정렬
align-self: 나자신의 높이값을 반영 부모기준으로 정렬 */

.box dl dd{width: 520px;align-self:center;}
.mid{}
.mid h4{font-family: 'neo-Eb'; font-size: 42px; line-height: 55px; letter-spacing: -0.5; color: #000;}
.mid h4 strong{color: #00A040;}
.mid p{font-family: 'neo-Rg'; font-size: 20px; line-height: 32px; letter-spacing: -1px; color: #666; margin: 54px 0 80px;}
/* 가운데 글자에게 위아래 마진값주기 */
.mid a{font-family: 'neo-Rg'; font-size: 18px; line-height: 60px; letter-spacing: -1px; color: #ccc; 
display: block; position: relative;
width: 320px;
padding: 0 10px;
box-sizing: border-box;
border-top: 2px solid #ccc; opacity: .5;}
/* 인라인 속성들은 스타일시트에 표시해두는게 좋음 속성바꿔야 하니까 */

.mid .h-btn::after{content: ''; display: block; width: 8px; height: 8px; border-radius: 4px; background-color: #ccc; position: absolute; top: 50%; right: 0;}

.mid .h-btn::before{content: ''; display: block; width: 16px; height: 16px; border-radius: 10px; background-color: #00A040; position: absolute; top: 50%; right: -4px; margin-top: -4px; opacity: 0;}

/* hover시 에니메이션+글자색 바꾸기(추가완료) */
.mid .h-btn:hover:before{animation: fade 1s infinite;}
.mid .h-btn:hover::after{background-color: #00A040;}
.mid .h-btn:hover{color: #00A040; border-top: 2px solid #00A040; transition: all 1s;}

@keyframes fade{

    0%{opacity: 0;}
    50%{opacity: .3;}
    100%{opacity: 0;}
}

/* bg추가 */
.mainSec02 .box dl:nth-child(1)::before{ content: '';display: block; width: 1800px; height: 680px; background-color: #F8F8F8; 
position: absolute;/*dl에 부모주기*/top: 0; 
z-index: -1;
/*배경을 브라우저 끝에 출력*/

/*1400px크기를 가진 부모컨테이너를 기준으로 1800px배경요소가 중앙에 오도록 처리*/
left: 50%; 
transform: translateX(-50%)
/*1920-1800=120
120/2=60px을 translateX값으로 밀어준다.*/
 translateX(-60px); 

 border-radius: 0 0 50px 0;
}
/* before: contnet 무조건넣어주기 , 크기값안먹는 속성 block넣어주기 */
.mainSec02 .box dl:nth-child(3)::before{content: ''; display: block; width: 1425px; height: 660px; background-color: violet;
position: absolute; top: 0; left: 50%;
transform: translateX(-50%) translateX(-248px); 
border-radius: 0 0 50px 0;
background: url(../img/main/main_sec02_bg.jpg) no-repeat center/cover;
z-index: -1;}

/* mainSec03 */
.mainSec03{position: relative; padding: 150px 0; }
/* 안전빵 */

.mainSec03  .title{position: relative;}
.mainSec03  .title>h3{margin: 41px 0;}

.btns{display: flex; gap: 13px; position: absolute; bottom: 0;right: 0;}
.btns a{font-family: 'neo-Bd'; font-size: 22px; line-height: 62px; letter-spacing: -1px; color: #fff;
display: block; padding: 0 50px;
background-color: #00A040;
border-radius: 30px;
}
/* 글자속성에 line-height값주어져서 위아래 패딩값안줘도 됨 */

/* sp-box */
ul.sp-box{margin-top: 87px; display: flex;}
ul.sp-box>li{width: 33.333%; padding: 120px 110px; background: no-repeat center/cover;
position: relative; box-sizing: border-box;}
/* 3개박스 나누는 법 */
ul.sp-box>li:nth-child(1){background-image: url(../img/main/main_sec03_img01.jpg);
border-radius: 80px 0 0 0;}
ul.sp-box>li:nth-child(2){background-image: url(../img/main/main_sec03_img02.jpg);}
ul.sp-box>li:nth-child(3){background-image: url(../img/main/main_sec03_img03.jpg);border-radius: 0 0 80px 0 ;}

ul.sp-box>li>a{display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0;}
/* 후원하기 버튼이 아닌 전체 박스를 링크영역으로 잡고 싶을때
(li에 부모포지션부여) */


.sp-mid{display: flex; justify-content: center; align-items: center; flex-direction: column;}
.sp-mid>img{
    /* margin-bottom: 70px; :에니메이션 없을땐 이렇게 위치잡음 */
    position:relative; top: -10px;}
.sp-mid>h5{font-family: 'neo-Eb'; font-size: 36px; line-height: 44px; letter-spacing: -0.5px; color: #fff;
text-align: center; margin-top: 70px;}
.sp-mid>p{font-family: 'neo-Rg'; font-size: 20px; line-height: 32px; letter-spacing: -1px; color: #fff;
margin: 34px 0 75px;
text-align: center;}
.sp-mid>a.sp-btn{font-family: 'neo-Rg'; font-size: 18px; line-height: 46px; letter-spacing: -0.4px; color: #fff;
display: block;
width: 200px;
padding: 0 32px;
box-sizing: border-box;
border:  2px solid #fff ;
border-radius: 50px;
position: relative;}

.sp-mid>a.sp-btn::after{content: '+'; font-family: 'neo-Eb'; position: absolute; right: 32px;}

.sp-box>li:hover .sp-mid img{animation: bounce 0.7s linear infinite; animation-direction: alternate;}
/* linear: 시작점과 끝점 사이의 변화가 일정하게 진행되어, 매끄럽고 예측 가능한 움직임을 만들어냄 */
/*  */
.sp-mid>a:hover.sp-btn::after{animation: rotate .7s linear infinite;}

@keyframes bounce {
    0%{top: -10px;}    
    50%{top: 0;}
    100%{top: 10px;}
}

@keyframes rotate{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

/* mainSec04 */
.mainSec04{padding: 150px 0;}
.mainSec04 .title{text-align: center;  margin-bottom: 60px;}
.mainSec04 .title h3{margin-bottom: 25px;}
.mainSec04 .title p{}

.wrap{display: flex; gap: 100px; justify-content: space-between;}
.wrap>*{width: 650px;}
/* .left{background-color: lightblue;}
.right{background-color: lightcoral;} */


.wrap .tit{display: flex; justify-content: space-between; align-items: center; padding: 56px 0 25px; box-sizing: border-box; border-bottom: 1px solid #ddd;}
/* +랑 공지사항 센터로 */
.wrap .tit>h5{font-family: 'neo-Eb'; font-size: 36px; line-height: 44px; letter-spacing: -0.5px; color: #333;}


.notice-list{}
.notice-list>li{border-bottom: 1px solid #ddd;}
.notice-list>li>a{display: flex; justify-content: space-between; align-items: center; padding: 35px 25px 36px;}
.notice-list>li>a>h6{font-family: 'neo-Rg'; font-size: 20px; line-height: 30px; letter-spacing: -1px; color: #333;
width: 80%;
/*크기를 설정해주어야함*/

overflow: hidden;
text-wrap: nowrap;
text-overflow: ellipsis;
/*말줄임 삼총사*/}
.notice-list>li>a>span{font-family: 'neo-Rg'; font-size: 16px; line-height: 30px; letter-spacing: -0.4px; color: #999;}

/* hover효과 */
.notice-list>li>a:hover{background-color: #ccc; transition: all 1s; opacity: .7;}
.tit>a:hover img{animation: rotate .7s ease-out forwards
;}

/*mainSec05*/
/* .mainSec05{height: 100px; background-color: lightblue;} */



/* ------------------------------타블렛 반응형 --------------------------------------------------------------------------------------------------------------------------- */

@media all and (max-width:1023px){


    /* common */
    .inner{width: 100%; margin: auto 10px;}
    /* 마진값 좌우 10 */

    .title>span{font-size: 16px; line-height: 24px; letter-spacing: -0.4px;}
    .title>h3{font-size: 38px; line-height: 44px;}

    .title>p{font-size: 16px; line-height: 24px; letter-spacing: -0.4px;}
    
    /* mainSec01 */
    .mainSec01{position: relative; padding: 60px 0;}
    /* 위아래로 60px씩 떨어져있음 */
    .mainSec01 dl{flex-direction: column; flex-wrap: wrap; gap: 30px; }
    

    .mainSec01 dl>dt{width:100%;}
    .mainSec01 dl>dd{width:100%; margin-left:150px;}
   
    
    /* dt */
    .title{}    
    .mainSec01 .title span{margin-bottom: 5px;}
    .mainSec01 .title h3{}
    .mainSec01 .title img{margin: 20px 0 18px; width: 153px; height: auto;} 
    
    /* dd */
    img.sec01_img{ width: 86%;}
    img.sec01_btn{ bottom: 50px; width: 110px;}

    
    /* bg */
    .txtBG{position: absolute; left: 4%; bottom: 40%; }
    .txtBG span{font-family: 'neo-Eb'; font-size: 140px;}
    
    
    /* mainSec02 */
    .mainSec02 .title{display: block; margin-bottom: 50px;}
    
    .mainSec02 .title span{width: 100%; margin-bottom: 0;}
    .mainSec02 .title h3{margin: 5px 0 15px;}

    
    /* box */
    .box{position: relative;}
    .box dl{ gap: 40px; padding: 80px 0; position: relative; flex-flow: column wrap;}
    .box-odd{}
    .box-even{}
    
    .box-odd>dt{order: 1;}
    .box-odd>dd{order: 2;}
    
    /* dt */
    .box dl dt{width:100%; box-sizing: border-box;}
    dl.box-odd dt{padding-left: 50px;}
    dl.box-even dt{padding-right: 50px;}
    .thumb{width: 100%; height: 514px;}

    .box dl dt img{top:40px; width: 60px;}

    /* dd */
    
    .box dl dd{width: 100%;align-self: flex-start;}

    .mid h4{font-size: 28px; line-height: 36px;}
   
    .mid p{ font-size: 16px; line-height: 28px; margin: 30px 0 45px;}

    .mid a{ font-size: 16px; line-height: 50px;
  
    width: 270px;}

    .mid{display: flex; flex-direction: column;}
    dl.box-even dd .mid>h4{text-align: right;}
    dl.box-even dd .mid>p{text-align: right;}
    dl.box-even dd .mid>a{align-self: flex-end;}

    
    /* bg추가 */
    .mainSec02 .box dl:nth-child(1)::before{ width: 90%; height: 902px; 

    left: 0; 
    transform:none;
  
    }

    .mainSec02 .box dl:nth-child(3)::before{ width: 70%; height: 882px; 
    left: 0;
   transform: none;}
    
    /* mainSec03 */
    .mainSec03{ padding: 80px 0; }

    
    .mainSec03  .title{position: relative;}
    .mainSec03  .title>h3{margin: 5px 0 15px;}
    
    .btns{display: flex; gap: 8px; position: absolute; bottom: -30px;right: 0; }
    .btns a{font-size: 16px; line-height: 45px;
    padding: 0 30px;
    
    border-radius: 23px;
    }
    
    
    /* sp-box */
    ul.sp-box{margin-top: 70px; height: 389px; }
    ul.sp-box>li{ padding: 70px 83px; width: 100%;}

    ul.sp-box>li:nth-child(1){border-radius: 40px 0 0 0;}

    ul.sp-box>li:nth-child(3){border-radius: 0 0 40px 0 ;}


    
    
    .sp-mid{display: flex; justify-content: center; align-items: center; flex-direction: column;}
    .sp-mid>img{margin-bottom: 40px; width: 50px;}
    .sp-mid>h5{font-size: 24px; line-height: 36px;}
    .sp-mid>p{font-size: 14px; line-height: 22px;
    margin: 18px 0 33px;}
    .sp-mid>a.sp-btn{font-family: 'neo-Rg'; font-size: 15px; line-height: 40px;
    width: 150px;
    padding: 0 22px;
    border-radius: 25px;}

    
    /* mainSec04 */
    .mainSec04{padding: 0; margin-bottom: 70px;}
    .mainSec04 .title{margin-bottom: 35px;}
    .mainSec04 .title h3{margin-bottom: 15px;}

    
    .wrap{gap: 50px;  flex-flow: column wrap;}
    .wrap>*{width:100%;}
    
    
    .wrap .tit{display: flex; justify-content: space-between; align-items: center; padding: 31px 10px 25px;}
  
    .wrap .tit>h5{ font-size: 28px; line-height: 36px;}
    .tit>a{}
    .tit>a>img{}
    
    .notice-list{}
    .notice-list>li{border-bottom: 1px solid #ddd;}
    .notice-list>li>a{display: flex; justify-content: space-between; align-items: center; padding: 17px 15px 16px;}
    .notice-list>li>a>h6{font-size: 16px; line-height: 26px; letter-spacing: -0.4px;
    width: 80%;
    /*크기를 설정해주어야함*/}
    .notice-list>li>a>span{font-family: 'neo-Rg'; font-size: 16px; line-height: 30px; letter-spacing: -0.4px; color: #999;}
    
    /*mainSec05*/
    /* .mainSec05{width: 100%; background-color: #000; height: 113px;} */
    

}/*tab*/


/* ------------------------------모바일 반응형 완료--------------------------------------------------------------------------------------------------------------------------- */

@media all and (max-width:750px){

#mainWrap{}

.inner{width: 100%; padding: 0 16px; box-sizing: border-box;}

.title>span{font-family: 'neo-Eb'; font-size: 14px; line-height: 20px; }
.title>h3{ font-size: 30px; line-height: 44px; }

.title>p{font-size: 14px; line-height: 26px; letter-spacing: -1px; }

/* mainSec01 */
.mainSec01{padding: 60px 0;}
.mainSec01 dl{flex-flow:row wrap; gap: 20px;}
/*2. flex-fiow:row wrap 추가(완료)
 = flex-wrap: wrap; flex-direction: row;  */

.mainSec01 dl>dt{width:100%;}
.mainSec01 dl>dd{width: 100%; margin-left: 0;}

/* dt */
.mainSec01 .title span{margin-bottom: 5px;}

.mainSec01 .title img{margin: 15px 0 14px; width: 110px; }
/* 로고이미지 크기줄이기 */

/* dd */
img.sec01_img{width: 95%; margin-left: 5%; max-width: 750px;}
/* 크기값이 명확하지 않으니까 너비를 95%,마진값으로 띄어주기 */
img.sec01_btn{ bottom: 30px; width: 90px; }
/* bottom값과 이미지 크기줄이기*/

/* bg */
.txtBG{ bottom:40%;}
/* 낮을수록 밑으로감 */
.txtBG span{font-family: 'neo-Eb'; font-size: 140px;}


/* mainSec02 */
.mainSec02 .title{display: flex; gap: 0; flex-wrap: nowrap; align-items: flex-start; margin-bottom: 35px; flex-direction: column;}

/* 줄바꿈원하지 않아서 노워렙
 정렬방향을 수평이 아닌 수직(컬럼)
 처음 방향으로 정렬맞춰줌(플랙스 엔드에서 스타트로) */
.mainSec02 .title span{display: block; width: 100%; margin-bottom: 5px;}
.mainSec02 .title h3{margin-bottom: 15px;}

/* box */
.box{position: relative;}
.box dl{gap: 30px; justify-content: center; padding: 50px 0 40px ; flex-direction: column; flex-wrap: wrap;}

.box-odd>dt{order: 1;}
.box-odd>dd{order: 2;}
/*짝수박스의 dt와 dd 순서바꿔주기 */

/* 2. flex-fiow:row wrap 추가(완료) */

/* dt */
.box dl dt{width:100%; align-self:  flex-start; box-sizing: border-box;}
dl.box-odd dt{padding-left: 20px; }
dl.box-even dt{padding-right: 20px;}
.thumb{width: 100%; height: 188px; 
    padding-bottom: 56.25%;
    /*16:9*/}
/* 높이값을 변경 */


.box dl dt img{ width: 45px; top:30px;}

dl.box-odd img{left: -22.5px;}
dl.box-even img{right: -22.5px;}
/*바뀐크기값의 절반값으로 밀어줌 */

/* dd */
.box dl dd{width: 100%; align-self :flex-start;}

.mid{display: flex; flex-direction: column;}
/*.mid 박스중 짝수를 .mid박스기준으로 정렬맞추고싶기때문에 display:flex */
.mid h4{font-size: 22px; line-height: 30px;}

.mid p{font-size: 14px; line-height: 26px; margin: 15px 0 20px;}
.mid p br{display: none;}
/* 줄바꿈없애주기*/
.mid a{font-size: 14px; line-height: 44px; 
width: 180px;}

dl.box-even dd .mid>h4{text-align: right;}
dl.box-even dd .mid>p{text-align: right;}
dl.box-even dd .mid>a{align-self: flex-end;}
/*더 알아보기 박스는 플랙스 엔드로 주어줌 오른쪽 끝에 붙음*/


/* bg추가 */
.mainSec02 .box dl:nth-child(1)::before{
width: 85%; height: 466px;

/* 원래 inner크기가 1400px이였는데 미디어 쿼리로 100%로 바뀌었기때문에 
left값은 0 복잡한 transform은 none처리 
pabbing값 좌우로16px넣어줘서 마진값으로 -16px로 땡겨주기*/
left: 0; margin-left: -16px;
transform: none;

}

.mainSec02 .box dl:nth-child(3)::before{
width: 66%; height: 456px;
 left: 0; margin-left: -16px;
transform: none;

}

/* mainSec03 */
.mainSec03{ padding: 50px 0; }
/* 안전빵 */

.mainSec03  .title{position: relative;}
.mainSec03  .title>h3{margin: 5px 0 15px;}

.btns{ gap: 8px; bottom: -60px; }
/* 자기 높이값과 올려줘야할 20px값더해서 부모기준 -60px값내려줌 */
.btns a{ font-size: 14px; line-height: 40px; padding: 0 18px;}


/* sp-box */
ul.sp-box{margin-top: 100px; flex-flow: column wrap; height: 100%;}
ul.sp-box>li{width:100%; padding: 60px 100px;}
ul.sp-box>li:nth-child(1){border-radius: 40px 0 0 0;}

ul.sp-box>li:nth-child(3){border-radius: 0 0 40px 0 ;}

ul.sp-box>li>a{display: none}
/* 후원하기 버튼이 아닌 전체 박스를 링크영역으로 잡고 싶을때
(li에 부모포지션부여)
거슬려서 dispaly논처리 */


.sp-mid{display: flex; justify-content: center; align-items: center; flex-direction: column;}
.sp-mid>img{margin-bottom: 20px; width: 43px;}
.sp-mid>h5{ font-size: 22px; line-height: 30px;}
.sp-mid>p{ font-size: 14px; line-height: 22px;
margin: 13px 0 28px;}
.sp-mid>a.sp-btn{ font-size: 13px; line-height: 36px;
width: 130px;
padding: 0 17px;

border-radius: 25px;}

.sp-mid>a.sp-btn::after{right: 17px;}


/* mainSec04 */
.mainSec04{padding: 60px 0;}
.mainSec04 .title{margin-bottom: 35px;}
.mainSec04 .title h3{margin-bottom: 10px;}
.mainSec04 .title p{}

.wrap{flex-flow: row wrap; gap: 50px;}
.wrap>*{width: 100%;}
/* 양쪽으로 나누어 줬을때는 너비값 각 650px->100% */

.wrap .tit{padding: 31px 10px 15px;}

.wrap .tit>h5{font-size: 22px; line-height: 32px;}

.notice-list>li>a{padding: 17px 10px 16px;}
.notice-list>li>a>h6{ font-size: 14px; line-height: 24px; letter-spacing: -0.3px; width: 70%;}
/* 80%는 390사이즈일때 넓은 것 같아 수정 */
.notice-list>li>a>span{font-size: 11px; line-height: auto; letter-spacing: -0.2px;}

/*mainSec05*/
.mainSec05{height: 93px;}


}/*mob*/
